<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taupyti.lt</title>
</head>

<body>
    <form>
        <h1>Product</h1>
        <p class="flex flex-col">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </p>

        <p class="flex flex-col">
            <label for="barcode">Barcode</label>
            <input type="number" id="barcode" name="barcode">
        </p>

        <fieldset>
            <legend>Pricing Information</legend>
            <p class="flex flex-col">
                <label for="price">Price</label>
                <input type="text" id="price" name="price" placeholder="1.69">
            </p>

            <p class="flex flex-col">
                <label for="discount">Discount price</label>
                <input type="text" id="discount" name="discount">
            </p>

            <p class="flex flex-col">
                <label for="discount_condition">Discount condition</label>
                <textarea id="discount_condition" name="discount_condition" rows="5"></textarea>
            </p>

            <p class="flex flex-col">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount">
            </p>
        </fieldset>

        <fieldset>
            <legend>Retail shop</legend>
            <label>
                <input type="radio" name="retail_shop" value="iki">
                Iki
            </label>
            <label>
                <input type="radio" name="retail_shop" value="iki">
                Maxima
            </label>
            <label>
                <input type="radio" name="retail_shop" value="iki">
                Lidl
            </label>
        </fieldset>

        <button type="submit">Add</button>
    </form>
</body>

<style>
    .flex {
        display: flex;
    }

    .flex-col {
        flex-direction: column;
    }
</style>

</html>
